body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
    background: #f5f3f1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #111;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

header nav ul li a:hover,
header nav ul li a.activo {
    color: #ffcc00;
}
.eventos-section {
    padding: 50px 10%;
    text-align: center;
}

.eventos-section h2 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 500;
    color: #4a3a32;
    letter-spacing: 2px;
}

.eventos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card p {
    margin-top: 15px;
    color: #4a4a4a;
    font-size: 15px;
}

.btn-info {
    margin-top: 40px;
    background: #f0c76d;
    color: #5a4637;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-info:hover {
    background: #e1b85f;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: left;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.modal-content h3 {
    margin-top: 0;
}

.botones-navegacion {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.btn-label {
    background: #222;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9rem;
}

.btn-label:hover {
    background: #444;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
